.container
  .row
    .span12
      %h1 Contact Us
      = form_tag("/contact", :method => "post") do
        = label_tag(:name, "Name:")
        = text_field_tag(:name)
        = label_tag(:email, "Email:")
        = text_field_tag(:email)
        = label_tag(:message, "Message:")
        = text_area_tag(:message, "Enter a message", :size => "24x6")
        = submit_tag("Send")
